alpackages/*.tar
cosmos-models/
nre-artifacts/artifact-*

# nuScenes raw data (large; not tracked in git)
v1.0-mini/
v1.0-mini.tgz
.v1.0-mini.txt
maps/
samples/
sweeps/
LICENSE
rollouts/default-savedir/*
trafficsim/rollouts/
ncore-artifacts
nre-artifacts
docker-compose/**/*.txt
docker-compose/**/*.out

*.sqsh
*.out
*.parquet

config/generated-network-config.yaml
config/generated-user-config-*.yaml
docker-compose/generated-docker-compose.yaml

kpi/*
